   <footer class="win-ui-dark win-commandlayout navbar-fixed-bottom">
      <div class="container">
         <div class="row">
            <div class="span6 align-left">
               <button id="afym" class="win-command">
                  <span class="win-commandimage win-commandring">&#x0067;</span>
                  <span class="win-label">
                      AFYM
                  </span>
               </button>
            </div>
         </div>
      </div>
   </footer>