@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<p>OrderASP is a simple web application base on ASP .NET MVC 4. I hope you like it</p>

<p>I used the following technologies :</p>

<ul>
    <li>C# as base language</li>
    <li>ASP MVC Framework 4</li>
    <li>Entity Framework 5</li>
    <li>Twitter Bootsrap in front end (Metro template)</li>
    <li>Jquery and Jquery UI</li>
</ul>