@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                To learn more about my works, please visit:
                <a href="https://github.com/afym">AFYM Git Hub</a>
            </p>
        </div>
    </section>
}
<h3>This simple OMS is based on</h3>
<ol class="round">
    <li class="one">
        <h5>ASP MVC .NET 4</h5>
        Powerfull web app framework
    </li>

    <li class="two">
        <h5>Entity framework</h5>
        Access data framework
    </li>
</ol>
